body {
    
     
    background: linear-gradient(to right,rgba(18,37,69,1),rgba(156,31,68,1));
    /* background: linear-gradient(to right,rgb(33 197 245),rgba(238,118,173,1)); */
    /* clip-path: circle(50%); */
    /* background-image: -webkit-linear-gradient(red, green, blue) !important; */
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
    /* background: rgba(68,142,246,1);
	background: -moz-linear-gradient(45deg, rgba(41,186,228,1) 0%, rgba(238,118,173,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(41,186,228,1)), color-stop(100%, rgba(238,118,173,1))); */
	  /* background: -webkit-linear-gradient(45deg, rgba(41,186,228,1) 0%, rgba(238,118,173,1) 100%);  */
	/* background: -o-linear-gradient(45deg, rgba(41,186,228,1) 0%, rgba(238,118,173,1) 100%); */
	/* background: -ms-linear-gradient(45deg, rgba(41,186,228,1) 0%, rgba(238,118,173,1) 100%);  */
	/* background: linear-gradient(45deg, rgba(41,186,228,1) 0%, rgba(238,118,173,1) 100%); */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#448ef6', endColorstr='#af05a9', GradientType=1 ); */
}  

 .mainContainer{
    position: relative;
    width: 100%;
    height: 17vh;
    background: linear-gradient(to right,rgb(90 0 56 / 40%),rgb(189 40 84 /50%));
    /* background: linear-gradient(to right,rgb(56 250 255 / 73%),rgb(165 34 118)); */
    /* background-color: rgb(0, 0, 0); */
    box-sizing: border-box;
    padding: 30px;
    color: rgb(0, 0, 0);
    margin-bottom: 200px;
  }
.mainContainer:after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(3deg); 
    
}


#mapid{
    height: 72vh;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color:black ;
    border: 2px solid rgba(181,178,255,1);
}
@media (max-width: 800px) {
    #mapid {
        height: 85vh;
        width: 100%;
        
    }
}

#functionality{
    text-align: center;
}

.btnZoomOut{
    margin-top: 1%;
    margin-bottom: 1%;
}
.btnZoomOut:hover{
    animation:pulse;
    animation-duration: 1s;
}

/* h1{

margin-bottom: 2rem;
font-family: 'Comfortaa', cursive;
font-size: 9vw;
color: white;
background: radial-gradient(circle, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%, rgba(0,212,255,1) 100%);
} */
/* .logox{
    
        
        max-width: 100%;
            max-height: 100vh;
            margin: auto;
    
} */
#header{
    width: 50vw; 
    margin: 0 auto;
    
}
.jumbotron{
    background-color:rgba(255, 255, 255, 0.1);
    text-align:center;
    color:white;
}

#footer{
    text-align: center;
}

.coding{
    font-family: 'Press Start 2P', cursive;
}

h6{
    padding-left: 6px;
    padding-top: 2px;
    color:rgba(255, 255, 255, 0.6);
    font-size: 14px;
}

.names{
    margin-right: 1em;
    margin-left: -5px;
}

.sign{
    padding-top: 2px;
}

.topper {
    padding-top:10px ;
    
  
      

}

.bottomx{
    /* background:linear-gradient(to right,rgba(255, 255, 255, 0.02) ,rgba(255, 255, 255, 0.005)); */
    /* background: linear-gradient(to left, white, transparent 90%); */
    /* background: #fff; */
    background: radial-gradient(circle, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%, rgba(0,212,255,1) 100%);
    
   
    
    
    margin-top:20vh ;
    
}

.route{
    background: linear-gradient(to right,rgb(33 197 245),rgba(238,118,173,0));
    display:none;
}

.routeName{
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    font-size: 2vh;
    color: black;
}

.compo{
    text-align:center;
    display: flex;
    flex-flow: column wrap;
    justify-content:center; 
}

.compImage{
    display: flex;
    justify-content:center; 
}

.compIcons{
    display: flex;
    justify-content:center; 
    flex-direction: row;
    
}

.compIcon{
    display: flex;
    justify-content:center; 
    margin-right: 2vh;
    
}

option{
    text-align: center;
}

.topInfo_whitebox{
    background: radial-gradient(circle, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%, rgba(0,212,255,1) 100%);
    /* background:rgba(255, 255, 255, 0.2); */
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 1vh;
    margin-top: 5vh;
    color: white;
}



/* ------------------Login ----------------- */
.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.3) !important;
    }
    
    .social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
    }
    
    .social_icon span:hover{
    color: white;
    cursor: pointer;
    }
    
    .card-header h3{
    color: white;
    }
    
    .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }
    
    .input-group-prepend span{
    width: 50px;
    background-color: #414141;
    color: black;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .remember{
    color: white;
    }
    
    .remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }
    
    .login_btn{
    color: black;
    background-color: #f8f8f834;
    width: 100px;
    }
    
    .login_btn:hover{
    color: black;
    background-color: white;
    }
    
    .links{
    color: white;
    }
    
    .links a{
    margin-left: 4px;
    }

    .login_window{
        margin-bottom: 3vh;
        margin-top: 6vh;
    }